secrets: 
  app:
    secret_key: ${secret_key}
  postgres:
    password: ${postgres_password}
  aws:
    access_key_id: ${aws_access_key_id}
    secret_access_key: ${aws_secret_access_key}
  s3:
    access_key: ${s3_access_key}
    secret_key: ${s3_secret_key}
  centrifugo:
    api_key: ${centrifugo_api_key}
    admin_password: ${centrifugo_admin_password}
    admin_secret: ${centrifugo_admin_secret}
