apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: ${PROJECT_NAME}-${K8S_ENV}
spec:
  project: default
  source:
    repoURL: oci://${REGISTRY_BASE}/${CHART_NAME}
    chart: ${CHART_NAME}
    targetRevision: ${CHART_VERSION}
  destination:
    server: https://kubernetes.default.svc
    namespace: harmony
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
    - ServerSideApply=true
    - CreateNamespace=true
