apiVersion: v1
kind: Secret
metadata:
  name: ghcr-creds
  namespace: argocd
  labels:
    argocd.argoproj.io/secret-type: repository
stringData:
  type: helm
  name: ghcr.io
  url: ghcr.io
  enableOCI: "true"
  username: ${GITHUB_USERNAME}
  password: ${GITHUB_TOKEN}